#position
    .box
        position: relative
    .minibox
        width: 100px
        height: 100px
        border: 2px solid #3e5fac
        background-color: #3e5fac
        margin: 15px
        color: #ffff
    .box2
        position: absolute